<mat-card class="w-[320px] h-[310px] rounded-lg shadow-lg">
  <mat-card-header class="m-0 -ml-10 pl-0" (click)="onViewClick()">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="text-lg">{{
      expandedArticle.article.title
    }}</mat-card-title>
    <!-- <span *ngIf="role != 'Manager'">This is manager</span> -->
  </mat-card-header>
  <img
    class="h-[200px] rounded-lg"
    mat-card-image
    [src]="expandedArticle.article.image?.imageUrl"
    alt="Photo of a Shiba Inu"
    (click)="onViewClick()"
  />
</mat-card>
