<div class="w-full h-full overflow-auto bg-slate-100">
  <div class="flex flex-col w-full h-full px-12 py-9">
    <!-- Naslov stranice -->
    <div class="flex flex-row justify-between items-center mb-8">
      <h1 class="text-4xl font-bold text-gray-800">
        Articles & Resources
      </h1>
      <!-- Dugme za dodavanje članka, vidljivo samo za psihologa -->
      <button
        *ngIf="currentUserRole === 'Psychologist'"
        mat-flat-button
        class="p-3 bg-blue-600 hover:bg-blue-700 text-white rounded-lg shadow-md transition ease-in-out duration-300"
        (click)="openNewArticleModal()"
      >
        + New Article
      </button>
    </div>

    <!-- Prikaz članaka za sve korisnike (Psiholog i Pacijent) -->
    <div
      *ngIf="allExpandedArticles?.length > 0; else noArticlesMessage"
      class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <ng-container *ngFor="let expandedArticle of allExpandedArticles">
       
          <app-article-card
            class="w-full"
            [expandedArticle]="expandedArticle"
          ></app-article-card>

      </ng-container>
    </div>

    <!-- Poruka ako nema dostupnih članaka -->
    <ng-template #noArticlesMessage>
      <p class="text-center text-lg text-gray-600 mt-10">
        No articles available at the moment.
      </p>
    </ng-template>
  </div>
</div>
